body {
    background-color:cornsilk;
}

nav {
    padding: 10px, 5px, 10px, 5px;
    display: flex;
    justify-content: center;
    background-color: rgb(229, 170, 233);
    border-width: 1px;
    border-color: blueviolet;
    border-style: ridge;
    width: fit-content;
}
 
nav>a {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-width: 1px;
    border-color: blueviolet;
    border-style: ridge;
    width: fit-content;

    text-decoration: none;
    background-color: rgb(226, 208, 228);
    color:darkviolet;
    padding: 10px;
    text-align: center;
}

.head-div {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.center-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.fieldset-div {
    display: flex;
}

nav>a:hover {
    background-color: rgb(231, 177, 213);
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

form>label {
    font-weight: bolder;
    font-size: larger;
}

#inregInput {
    height: 50px;
    width: fit-content;
    margin-top: 20px;
}

legend {
    font-weight: bold;
    
}

fieldset {
    width: fit-content;

}

fieldset>div {
    border: 5px, 0px, 5px, 0px;
    display: flex;
    justify-content: space-between;
}

#primul-fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    position: sticky;
    bottom: 0;
}

.in-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside {
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(189, 183, 107);
    margin: 0, 10px, 0, 10px;
}

aside>a {
    color: purple;
    width: fit-content;
    padding: 3px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-color: purple;
    border-style: solid;
}

aside>a:hover {
    background-color: rgb(126, 122, 71);
    color: rgb(54, 6, 117);
    font-weight: bold;
}

#canvas-sec2 {
    width: 400px;
    height: 400px;
    border: 1px;
    border-style: solid;
    border-color: gray;
}

