body {
    background-color:cornsilk;
}

nav {
    padding: 10px, 5px, 10px, 5px;
    display: flex;
    justify-content: center;
    background-color: rgb(229, 170, 233);
    border-width: 1px;
    border-color: blueviolet;
    border-style: ridge;
    width: fit-content;
}

@media screen {
    nav>a {
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-width: 1px;
        border-color: blueviolet;
        border-style: ridge;
        width: fit-content;
        text-decoration: none;
        background-color: rgb(226, 208, 228);
        color:darkviolet;
        padding: 10px;
        text-align: center;
    }
    
    nav>a:hover {
        background-color: rgb(231, 177, 213);
        color: blue;
        text-decoration: underline;
        font-weight: bold;
    }
}

@media (max-resolution: 1ddpx)  {
    p, span, h3, div {
        font-size: small;
    }
}

.head-div {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.center-div, .centered-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.flex-div {
    display: flex;
}

form>label, .center-div>label {
    font-weight: bolder;
    font-size: larger;
}

#inregInput {
    height: 50px;
    width: fit-content;
    margin-top: 20px;
}

legend {
    font-weight: bold;

}

fieldset {
    width: fit-content;

}

fieldset>div {
    border: 5px, 0px, 5px, 0px;
    display: flex;
    justify-content: space-between;
}

#primul-fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    position: fixed;
    bottom: 0;
}

.in-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside {
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(189, 183, 107);
    margin: 0, 10px, 0, 10px;
}

aside>a {
    color: purple;
    width: fit-content;
    padding: 3px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-color: purple;
    border-style: solid;
}

aside>a:hover {
    background-color: rgb(126, 122, 71);
    color: rgb(54, 6, 117);
    font-weight: bold;
}

#canvas-sec2 {
    border: 1px;
    border-style: solid;
    border-color: gray;
}

.fieldset-div {
    border: 1px solid #ddd;
    margin-top: 1em;
    width: fit-content;
    text-align: center;
}


.fieldset h1 {
    font-size: 12px;
    text-align: center;
}

.fieldset h1 span {
    display: inline;
    border: 1px solid #ddd;
    background: #fff;
    padding: 5px 10px;
    position: relative;
    top: -1.3em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.border-div  {
    border: 3px solid rgb(229, 170, 233);
    width: fit-content;
    padding: 5px;
    margin: 5px;
}

.cel-mai-bun-span {
    font-weight: bold;
    font-style: oblique;
}

.click-span {
    color: rgb(87, 0, 13);
}

.click-span:hover {
    color: rgb(5, 10, 160);
    font-weight: bold;
    text-decoration: underline;
}

table {
    border: 3px solid rgb(88, 1, 39);
}

table>tr,th,td {
    border: 1px solid rgb(54, 6, 117);
    width:fit-content;
}

#comm {
    resize: none;
}

#pagina, #retetele {
    white-space: nowrap;
    width: 200px;
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: ellipsis;
}

#mask-clip {
    text-align: center;
    font-size: 6em;
    font-family: arial;
    background-image: url(/continut/imagini/ramsey.png) no-repeat;
    background-clip: text;
    color: #de466c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
